<h1>Try to guess what this puzzle is</h1>
<h2>You have $guess attempts Remaining<h2>
<h3> $word </h3>

<div class="col-md-12">
  <form class="col-md-4 col-xs-12 col-md-offset-4" action="/output" method="get">
    <div class="form-group">
      <label for="guess">Enter your best guess here:</label>
      <input id="guess" type="text" name="guess" required class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Guess Puzzle</button>
  </form>
</div>
